<a href="https://colab.research.google.com/github/BilawalBaloch/Python-A-Z-/blob/main/pythonstart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 A = 5
 B = " HEllo world , my name is bilawal"
 print (A)
 print (B)

5
 HEllo world , my name is bilawal

this is first day

its vriables

In [ ]:
a = 5
a = "bilawal"
print(a)

bilawal

name variables

bilawal is variable , bilawal271 , bilawal_271 is also varibale , but in variable " is a string " , 3 is int , while 3.0 is float .

multi varibale *italicised text* , when you put [ ] then you can add multiple variables

In [ ]:
citiesname = [ "karachi " , "lahore " , "multan " ]
print (citiesname)

['karachi ', 'lahore ', 'multan ']

output varibale ,
here you can but two or more varivale and can get output in single line by putting both or more in single print line eg = print ( a + b + c)

**global avriables**

In [ ]:
x = "ali"
def myfunc() :
  global x
  x = "bilawal"
  print ("my name is" + x )
myfunc ()


print ("my name is " + x )

my name isbilawal
my name is bilawal

**data type**
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

numeric data type
int 3
float  1.2
complex 1k 220bilawal

In [ ]:
x = 3.4
print (type(x))

<class 'float'>

In [ ]:
b = 2j
print(type(b))

<class 'complex'>

In [ ]:
a = 6.6
b = 7.6
c = 20
a = int (a)

c = complex(c)
print (a)
print (b)
print(c)
print(type(a))
print(type(b))
print(type(c))

6
7.6
(20+0j)
<class 'int'>
<class 'float'>
<class 'complex'>

**random**

In [ ]:
import random
print (random.randrange(1,22))

11

In [ ]:
import random
print (random.randrange (-322,987))

691

**string**

In [ ]:
a = "bilawal"
print (a.upper())

BILAWAL

In [ ]:
str1 = "Hello, world!"
str2 = "I love Swift."
str3 = "Hello, world!"

# compare str1 and str2
print(str1 == str2)

# compare str1 and str3
print(str1 == str3)

False
True

In [ ]:
a = "bilawal is {age} {hight}".format(age = "25" , hight = "177mm")
print(a)

bilawal is 25 177mm

In [ ]:
age=25
height='177m'

print(f"bilawal is {age}.His height is {height}.")

bilawal is 25.His height is 177m.

In [ ]:
a = "bilawal /rmohb"
print (a)

bilawal /rmohb

In [ ]:
b = "ahmed live in  {houselocation} with  {name}".format( houselocation = "H-13" , name = "bilawal" )
print(b)

ahmed live in  H-13 with  bilawal

In [ ]:
a = 24
b = 9
if a   > b:
  print("a is grater then b")
else:
  print("b is greater then a ")

a is grater then b

In [ ]:
a  = 22
b =  9
c = 32
print (a==b)
print (a>b)
print (b>a)
print(a==c)

False
True
False
False

In [ ]:
**arithmatic operaters**

In [ ]:
a = 49
b = 9
print (a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

58
40
441
5.444444444444445
5
1628413597910449
4

**assinment opertaerts**

In [ ]:
a = 33
b = 60
print(a==b)
print(a !=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
a = 44
b = 34
print (a>30  and b<22)
print (not(a>30 or b <22))
print (a>30 or b <22)

False
False
True

In [ ]:
a = 9
b = 5
print (a is b)
print (a is not b)

False
True

In [ ]:
a = 4
b = 5
print (a & b)

4

In [ ]:
a = { "bnana" , "apple" , "pineapple"}
b = { 1 ,2 ,3 }
a.update(b)
print (a)

{'pineapple', 1, 2, 'bnana', 3, 'apple'}

In [ ]:
xoo = {"bilawal" , "ahmed " , "usama " , "adun " , "rawal"}
#x.remove("adun ")
#x.append("hello")
#x.sort ()
#x.remove (  "adun ")
xoo.pop
print(xoo)

{'bilawal', 'usama ', 'ahmed ', 'rawal', 'adun '}

In [ ]:
only = ("bio"  , "helo" , "mew" , "leo")
print (only.count("helo"))

1

**Shopping cart**

In [ ]:
food = []
prices = []
total = 0
while True:
         food = input ("enter your food (or press q to exict :) ")
         if food.lower() == "q" :
             break
         else:
               price =  input(f"enter your prices {food} $ ")
               foods.append(food)
               prices.append(price)

enter your food (or press q to exict :) banan
enter your prices banan $ 33

NameError: name 'foods' is not defined

In [ ]:
thisisdic = {"name" : "bilawal" , "age" : "26" , "hight" : "177m" , "gender" : "male"}
print (thisisdic ["gender"])

male

In [ ]:
cnc = {"pakistan" : "islamabad" , "afganistan" : "kabul" , "KSA" : "rayad" , "iran" : "tehran"}
#print(cnc["pakistan"])
x = cnc.keys()
print( x )

dict_keys(['pakistan', 'afganistan', 'KSA', 'iran'])

In [ ]:
name = { "bilawal" : "271" , "zahir" : "277" ,  "ahmed" : "290" , "raja" : "233" }
for key , value in  nameitems():
   print ("f{key} : {value}")

NameError: name 'nameitems' is not defined

In [ ]:
a = "bilawal"
b = 4
c = 4.5
print (type(a))
print (type(b))
print (type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
a = 2
while a < 23:
  print(a)
  a += 1

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
n = 3
while n < 12 :
  print(n)
  n += 1

3
4
5
6
7
8
9
10
11

In [ ]:
b = 2
while b < 13:
  print (b)
  if b==9:
   break
  b += 1

2
3
4
5
6
7
8
9

In [ ]:
d = 3
while d < 22:
  print (d)
  if d == 19:
    break
  d += 1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in range(7):
   print(x)

0
1
2
3
4
5
6

In [ ]:
a = 3
while a < 10:
  print(a)
if a == 5:
    break
  a += 1

3
4
5

In [ ]:
int = 2
float = 4.5
complex = 2j
list = [ " """']
touple = (""""")
sets = {""""""}
dic {"""""}

In [ ]:
a  = 3
while a > 22:
  print(a)
  a += 1

**Funcation**

In [ ]:
def hi_new(name , living , doing):
   print (f"you can call me  {name}")
   print (f"i live in {living}")
   print (f"i am {doing}")
   print()
hi_new("bilawal" , "ict"  , 'fasting')

hi_new("ahmed"  , "lahore" , "not fasting")
hi_new("adun" , "multan" , "may be fasting")

you can call me  bilawal
i live in ict
i am fasting

you can call me  ahmed
i live in lahore
i am not fasting

you can call me  adun
i live in multan
i am may be fasting

In [ ]:
def create_name (first , last):
   first = first.capitalize()
   last = lst.capitalize()
   return = first + "" + last
full_name = create_name

SyntaxError: invalid syntax (<ipython-input-12-14df44811a1b>, line 4)

In [ ]:
import re
txt = "its rain in rawalpindi"
x = re.findall("r" , txt)
print(x)

['r', 'r']

In [ ]:
import re
b = "1 ,12 , 25 51 ,24 ,11 ,921 ,10 "
x = re.findall("1" , b)
print(x)

['1', '1', '1', '1', '1', '1', '1']

In [ ]:
import re
n = "bilawal and ahmed "
x = re.search("ali" , n)
print(x)

None

In [ ]:
import re
n = "bilawal and ahmed "
x = re.search("ahmed" , n)
print(x)

<re.Match object; span=(12, 17), match='ahmed'>

In [ ]:
class myclass :
   def __init__(self,adress,bank) :
         self.adress= adress
         self.bank= bank
p1= myclass(29 , "allied " )
print(p1.adress)
print(p1.bank)

29
allied

In [ ]:
class person :
  def __init__(self , name , bank):
    self.name = name
    self.bank = bank

  def __str__(self):
    return f"{self.name} , ({self.bank})"

    p1 = person ("bilawal" , "allied")
print(p1)

John(36)

In [ ]:
import re
txt = ''' In the first half of the 19th century, the region was appropriated by the East India Company, followed, after 1857, by 90 years of direct British rule, and ending with the creation of Pakistan in 1947, through the efforts, among others, of its future national poet Allama Iqbal and its founder, Muhammad Ali Jinna '''
x = re.findall("00" , txt)
print(x)
if x:
  print("yes we find matching reslut")
else:
    print("we are sorry , we dont have")

[]
we are sorry , we dont have